DATABASE_PATH=data.sqlite3
TITLE=Personal Admin
BASE_URL=https://example.com
REDIRECT_HEADER=X-Admin-Redirect-Request
REDIRECT_HEADER_VALUE=1
REDIRECTS_ASYNC_HEADER=X-Admin-Async
REDIRECTS_ASYNC_HEADER_VALUE=redirects
SECRET_KEY=change-me
HOST=127.0.0.1
PORT=8043
