ADMIN_SECRET_KEY=change-me
ADMIN_DATA_PATH=data/redirects.json
HOST=127.0.0.1
PORT=8043
ADMIN_BASIC_AUTH_USERS=user1,user2
ADMIN_BASIC_AUTH_PASSWORD=change-me
ADMIN_BASIC_AUTH_HTPASSWD_PATH=/absolute/path/to/admin.pujia.ar.htpasswd
